body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
   
}
<<<<<<< HEAD
=======
<<<<<<< HEAD
>>>>>>> loginpage

::placeholder{
  color: #999999;
}
<<<<<<< HEAD
=======
=======
>>>>>>> loginpage
::placeholder{
  font-size: 14px;
  color:white;
}
<<<<<<< HEAD
=======
>>>>>>> 5f41c596236afe9081b82d8ffbdc69b1478adff2
>>>>>>> loginpage
